{% extends 'base.html' %}
{% load static %}



{% block title %}
    Избранные акции
{% endblock %}


{% block css_links %}
    <!-- <link rel="stylesheet" href="{% static 'Frame/css/menu.css' %}?20220325"> -->
	<link rel="stylesheet" href="{% static 'Frame/css/Investing_favorite_securities.css' %}?20220325">

{% endblock %}


{% block page_content %}
	<div id="list-securities">
		<h2>Избранное Investing</h2>
		<ul>
			{% for security in all %}
				<li>{{ security.0 }}, {{ security.1 }}, {{ security.2 }}, {{ security.3 }}, {{ security.4 }}</li>
			{% endfor %}
		</ul>
	</div>

	<div id="graphics">
		<div class="price_graph">
			<img src="{% static 'Frame/img/SBER.ME.png' %}", alt="ERROR">
		</div>
		<div>
			<img class="price_graph" src="{% static 'Frame/img/YNDX.ME.png' %}", alt="ERROR">
		</div>
		<div>
			<img class="price_graph" src="{% static 'Frame/img/AAPL.png' %}", alt="ERROR">
		</div>
	</div>
{% endblock %}
