
body {
    background: url('static/img/background-main.jpg');
    background-attachment: scroll;
    /* padding: 30px; */
    /* padding-top: 10px; */
    display: block;

}

/*------------ Navbar --------------*/

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    padding-bottom: 10px;
	display: flex;
	align-items: center;
    padding: 5px;
    margin-bottom: 20px;
}

#div-nav-sign {
	display: inline-block;
	flex: 10%;
}

#div-nav-links {
	flex: 90%;
	display: flex;
	justify-content: flex-end;
	color: grey;
}

#nav-sign {
	background: transparent;
	padding: 0px;
}

.navbar-link {
	padding-right: 10px;
	padding-left: 10px;
	color: white;
	display: inline;
}

/* -------------Page---------------- */

.page {
    display: flex;
    justify-content: center;
}

.block-page-content {
    display: inline-block;
    width: 70%;
}

/* -----------------Sidebar ---------------*/

.sidebar {
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    border: 2px solid white;
}
