{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'Frame/css/base.css' %}?20220325">
    {% block css_links %} {% endblock %}
</head>
<body>
	<nav>
		<div class="navbar">
			<div id="div-nav-sign">
				<img id="nav-sign" src='../../static/Frame/img/navbar-invest-sign.png' width=50px >
			</div>
			<div id="div-nav-links">
				<a class='navbar-link' href="/menu/">Menu</a>
                |
				<a class='navbar-link' href="/favorite-securities/">Избранное Investing</a>
                |
				<a class='navbar-link' href="#">Форум</a>
                |
                <a class='navbar-link' href="/blog/">Блог</a>

			</div>
		</div>
   </nav>
    {% block page_content %} {% endblock %}
</body>
</html>
