{% extends 'base.html' %}
{% load static %}



{% block title %}
    Восстановление пароля
{% endblock %}


{% block css_links %}
    <!-- <link rel="stylesheet" href="{% static 'Forum/css/login.css' %}?20220722"> -->
{% endblock %}


{% block page_content %}
    <h1>Восстановление пароля</h1>
    <p>Для смены пароля введите адрес электронной почты</p>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Отправить пароль"></p>
        {% csrf_token %}
    </form>
{% endblock page_content %}
